body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito Sans", sans-serif;
}
.container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 15px;
}
.btn {
  display: inline-block;
  padding: 15px 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  border-radius: 8px;
  border: 2px solid transparent;
  text-align: center;
  transition: all .4s ease;
  cursor: pointer;
}